<router-outlet></router-outlet>
<br>



<span >Link para descargar la BD (esta en mysql)</span>
<a href="https://inacapcl-my.sharepoint.com/:f:/g/personal/mmoyaa_inacap_cl/EpCjsRGg06RGgrFoCtmyLBMBPbN47SAU9SIVzjUQQesIQQ?e=h3yW0v"> link </a>
<br>
<span>TODO : terminar la vista de platos</span>
<br>
<span>agregar contenido al index mediante -app</span>
<br>
<span>agregar contenido a cocina mediante -app</span>
<br>
<span>agregar contenido a administracion mediante -app</span>
<br>
<span>agregar contenido a finanzas mediante -app</span>
<br>
<span>revisar el modal</span>

